
<h1>Customers</h1>

<table class="table table-striped table-hover">
  <thead>
    <th>Details</th>
    <th>Delete</th>
    <th>Name</th>
    <th>City</th>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
      <td style="width: 1px"><button type="button" class="btn btn-default"
                                     ng-click="viewCustomerDetails(customer)"><span class="glyphicon glyphicon-search"></span></button></td>
      <td style="width: 1px"><button type="button" class="btn btn-danger"
                                     ng-click="deleteCustomer(customer)"><span class="glyphicon glyphicon-remove"></span></button></td>
      <td>{{customer.firstname}} {{customer.lastname}}</td>
      <td>{{customer.address.city}}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-default" ng-click="addCustomer()">Add Customer</button>