server:
  port: 8081

spring:
  data:
    mongodb:
      uri: mongodb://localhost/stores

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    metadataMap:
      instanceId: ${vcap.application.instance_id:${spring.application.name}:${spring.application.instance_id:${server.port}}}

logging:
  level:
    com.netflix.discovery: 'OFF'